<h2 class="text-center">Procedures</h2>

<div class="card">
  <div class="card-header">
    <h5>Procedure Information</h5>
  </div>
  <div class="card-body">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Medical record ID</th>
            <th>Procedure type</th>
            <th>Notes</th>
            <th>Anesthesia used</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let procedure of procedures">
            <td>{{procedure.id}}</td>
            <td>{{procedure.medicalRecordId}}</td>
            <td>{{procedureType[procedure.procedureType]}}</td>
            <td>
              <div class="text-break" style="height: 80px; overflow-y: auto;">
                {{ procedure.notes }}
              </div>
            </td>
            <td>{{procedure.anesthesiaUsed ? 'Yes' : 'No'}}</td>
            <td class="text-nowrap">
                <button class="btn btn-sm btn-primary me-2" (click)="updateProcedure(procedure.id)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteProcedure(procedure.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
  </div>
</div>
