<h2 class="text-center my-5">{{ this.isEditing ? 'Edit' : 'Create' }} Prescription</h2>

<div *ngIf="errorMessage!=''">
    {{ errorMessage }}
</div>

<form class="border rounded p-3 w-50 mb-5 mx-auto" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label class="form-label" for="medicalRecordID">Medical Record ID:</label>
        <input type="number" class="form-control" name="medicalRecordID" id="medicalRecordID" [(ngModel)]="prescriptionDTO.medicalRecordId" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label" for="medName">Medication Name:*</label>
        <select class="form-select" name="medName" [(ngModel)]="prescriptionDTO.medName">
            <option *ngFor="let med of MedName; let i = index" [ngValue]="i">{{ med }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" for="dosage">Dosage:*</label>
        <input required #dosage="ngModel" type="number" class="form-control" name="dosage" [(ngModel)]="prescriptionDTO.dosage">
        <div *ngIf="dosage.invalid && (dosage.touched || dosage.dirty)" class="text-danger">
            Dosage is required.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="frequencyInHrs">Frequency (hours)*:</label>
        <input required #frequencyInHrs="ngModel" type="number" class="form-control" name="frequencyInHrs" [(ngModel)]="prescriptionDTO.frequencyInHrs">
        <div *ngIf="frequencyInHrs.invalid && (frequencyInHrs.touched || frequencyInHrs.dirty)" class="text-danger">
            Frequency in hours is required.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="durationInDays">Duration (days)*:</label>
        <input required #durationInDays="ngModel" type="number" class="form-control" name="durationInDays" [(ngModel)]="prescriptionDTO.durationInDays">
        <div *ngIf="durationInDays.invalid && (durationInDays.touched || durationInDays.dirty)" class="text-danger">
            Duration in days is required.
        </div>
    </div>
    
    <div>
        <button class="btn btn-primary" type="submit">{{ isEditing ? 'Edit' : 'Create' }} prescription</button>
    </div>
</form>
