<h2>Medical Records</h2>
<button (click)="goToCreatePage()">Create new medical record</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Animal ID</th>
            <th>Veterinarian</th>
            <th>Visit Date</th>
            <th>Symptoms</th>
            <th>Diagnosis</th>
            <th>Notes</th>
            <th>View</th>
            <th>Add component</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of medicalRecords">
            <td>{{ record.id }}</td>
            <td>{{ record.animalId }}</td>
            <td>{{ getVeterinarianName(record.vetId) }}</td>
            <td>{{ record.visitDate | date }}</td>
            <td>{{ record.symptoms }}</td>
            <td>{{ record.diagnosis }}</td>
            <td>{{ record.notes }}</td>
            
            <td>
                <button (click)="showPresAndProcbyID(record.id)">View data</button>
            </td>
            <td>
                <button (click)="addPrescription(record.id)">Add prescriptions</button>
                <button (click)="addProcedure(record.id)">Add procedure</button>
            </td>
            <td>
                <button (click)="updateMedicalRecord(record.id)">Edit</button>
                <button (click)="deleteMedicalRecord(record.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

 <hr class="my-5">


  <div class="mt-4">
    <h4 *ngIf="prescriptionTable.selectedRecordId">
  Prescriptions assigned to Record number: {{ prescriptionTable.selectedRecordId }}
</h4>
    <app-prescription-table #prescriptionTable></app-prescription-table>
  </div>

  <hr class="my-5">


  <div class="mt-4">
    <h4 *ngIf="procedureTable.selectedRecordId">
  Procedures assigned to Record number: {{ procedureTable.selectedRecordId }}
</h4>
    <app-procedure-table #procedureTable></app-procedure-table>
  </div>