<h2 class="text-center">Medical Records</h2>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary btn-lg mb-3" (click)="goToCreatePage()">Create new medical record</button>
</div>

<div class="card">
  <div class="card-header">
    <h5>Medical Record Information</h5>
  </div>
  <div class="card-body">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Animal ID</th>
            <th>Veterinarian</th>
            <th>Visit Date</th>
            <th>Symptoms</th>
            <th>Diagnosis</th>
            <th>Notes</th>
            <th>View</th>
            <th>Add component</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of medicalRecords">
            <td>{{ record.id }}</td>
            <td>{{ record.animalId }}</td>
            <td>{{ getVeterinarianName(record.vetId) }}</td>
            <td class="text-nowrap">{{ record.visitDate | date }}</td>
            <td>
              <div class="text-break" style="height: 80px; overflow-y: auto;">
              {{ record.symptoms }}
              </div>
            </td>
            <td>
              <div class="text-break" style="height: 80px; overflow-y: auto;">
                {{ record.diagnosis }}
              </div>
            </td>
            <td>
              <div class="text-break" style="height: 80px; overflow-y: auto;">
                {{ record.notes }}
              </div>
            </td>
            
            <td class="text-nowrap">
                <button class="btn btn-sm btn-secondary" (click)="showPresAndProcbyID(record.id)">View data</button>
            </td>
            <td class="text-nowrap">
                <button class="btn btn-sm btn-success me-2" (click)="addPrescription(record.id)">Add prescriptions</button>
                <button class="btn btn-sm btn-success" (click)="addProcedure(record.id)">Add procedure</button>
            </td>
            <td class="text-nowrap">
                <button class="btn btn-sm btn-primary me-2" (click)="updateMedicalRecord(record.id)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteMedicalRecord(record.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
 <hr class="my-5">


  <div class="mt-4">
    <h4 *ngIf="prescriptionTable.selectedRecordId">
  Prescriptions assigned to Record number: {{ prescriptionTable.selectedRecordId }}
</h4>
    <app-prescription-table #prescriptionTable></app-prescription-table>
  </div>

  <hr class="my-5">


  <div class="mt-4">
    <h4 *ngIf="procedureTable.selectedRecordId">
  Procedures assigned to Record number: {{ procedureTable.selectedRecordId }}
</h4>
    <app-procedure-table #procedureTable></app-procedure-table>
  </div>