<h2 class="text-center my-5">{{this.isEditing ? 'Edit' : 'Create'}} Procedure</h2>

<div class="text-danger text-center" *ngIf="errorMessage!=''">
    {{errorMessage}}
</div>

<form class="border rounded p-3 w-50 mb-5 mx-auto" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label class="form-label" for="medicalRecordID">Medical Record ID:</label>
            <input type="number" class="form-control" name="medicalRecordID" id="medicalRecordID" [(ngModel)]="procedureDTO.medicalRecordId" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label" for="procType">Procedure type:*</label>
            <select class="form-select" name="procType" [(ngModel)]="procedureDTO.procedureType">
                <option *ngFor="let type of ProcType; let i = index" [ngValue]="i">{{type}}</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="notes">Notes:*</label>
            <textarea required #notes="ngModel" class="form-control" name="notes" [(ngModel)]="procedureDTO.notes"></textarea>
            <div *ngIf="notes.invalid && (notes.touched || notes.dirty)" class="text-danger">
                Notes are required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="anesthesiaUsed">Anesthesia used:*</label>
            <input type="checkbox" class="form-check-input mx-3 border-secondary" name="anesthesiaUsed" [(ngModel)]="procedureDTO.anesthesiaUsed">
        </div>

         <div>
            <button class="btn btn-primary" type="submit">{{ isEditing ? 'Edit' : 'Create' }} procedure</button>
        </div>

</form>