
@if (authService.isLoggedIn()) {

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vet Clinic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="appointments">Appointments</a>
        </li>
        <li class="nav-item" active>
           <a class="nav-link" routerLink="animals">Animals</a>
        </li>
        <li class="nav-item" active>
          <a class="nav-link" routerLink="medicalRecords">Medical Records</a>
        </li>
        <li class="nav-item" active>
          <a class="nav-link" routerLink="veterinarians">Veterinarians</a>
        </li>
        </ul>

        <ul class="navbar-nav ms-auto align-items-lg-center gap-3">
         <li class="nav-item">
          <div class="row align-items-center">
            <span>Welcome, <strong>{{ authService.getCurrentUser() }}</strong></span>
          </div>
        </li>
          <li class="nav-item, px-3">
          <div class="row align-items-center">
            <button class="btn btn-primary w-auto text-nowrap" (click)="onLogout()">Log Out</button>
          </div>
          </li>
      </ul>
    </div>
  </div>
</nav>

} @else {

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vet Clinic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-3">
        <li class="nav-item">
           <form (ngSubmit)="onNavbarLoginSubmit()" class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 position-relative">
            <label for="Username">Username:</label>
            <input class="form-control" type="text" [(ngModel)]="credentials.username" name="username" placeholder="Username" required/>
            <label for="Password">Password:</label>
            <input class="form-control" type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password" required/>
            <button type="submit" class="btn btn-primary w-auto text-nowrap">Log In</button>

          @if (errorMessage) {
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
          }

          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
}



<div class="container mt-4">
  <router-outlet></router-outlet>
</div>


